config SHIELD_SOSHO_R_TRACKPAD
    def_bool $(shields_list_contains,sosho_R_trackpad)

config SHIELD_SOSHO_R_TRACKBALL
    def_bool $(shields_list_contains,sosho_R_trackball)

config SHIELD_SOSHO_L_TRACKPAD
    def_bool $(shields_list_contains,sosho_L_trackpad)

config SHIELD_SOSHO_L_TRACKBALL
    def_bool $(shields_list_contains,sosho_L_trackball)