#include "sosho_R.dtsi"
#include <input/processors.dtsi>

&spi1 { status = "okay"; };
&trackball { status = "okay"; };

&trackball_listener {
    status = "okay";
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_temp_layer 4 800
    >;

    scroll_mode {
        layers = <5>;
        input-processors = <&zip_xy_to_scroll_mapper>;
    };
};

&glidepoint_split { status = "okay"; };
&glidepoint_split_listener {
    status = "okay";
    input-processors = <
        &zip_xy_to_scroll_mapper
        &zip_scroll_transform INPUT_TRANSFORM_Y_INVERT
        &zip_scroll_scaler 18
    >;
};

&trackball_split { status = "okay"; };
&trackball_split_listener { status = "okay"; };
